# License + third-party attribution must travel with the distribution.
# Apache-2.0 §4(b) requires recipients of redistributed OSQP code to receive
# the license text; see THIRD-PARTY.md.
include THIRD-PARTY.md
include LICENSE
recursive-include licenses *

recursive-exclude samples *
recursive-exclude demos *
recursive-exclude tests *
recursive-exclude lab-notes *
recursive-exclude deprecated *
recursive-exclude lekiwi-sim *
recursive-exclude models *
global-exclude *.gif
global-exclude __pycache__
